*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  background-color: #27293c;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1rem;
}

nav div img {
  width: 50px;
}
nav div img:hover {
  opacity: 70%;
}

nav ul li a {
  text-decoration: none;
  font-family: "Segoe UI", sans-serif;
  color: white;
  font-weight: 500;
  padding: 3px 0;
  transition: all;
  transition-duration: 400ms;
  border-bottom: 1px solid #27293c;
}

nav ul li a:hover {
  border-bottom: 1px solid #FFD3B6;
  color: #FFD3B6;
}